<div class="page">
  {{ page.header }}
  
  {{ page.control }}
  {{ page.breadcrumb }}
  {{ page.highlighted }}
  {{ page.help }}
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
     {{ page.content }}
  </main>
  {{ page.footer }}
</div>